.dayWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    align-items: center;
    cursor: pointer;
    caret-color: transparent;
}

.weekHeader {
    margin: 0;
}

.dayHeading {
    margin-top: 0;
}