.header {
  position: fixed;
  display: flex;
  caret-color: transparent;
  background-color: #fff;
  padding: 6px 18px;
  width: 100%;
  box-shadow: 1px 8px 6px -5px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.menuWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.menuDash {
  height: 2px;
  width: 20px;
  background-color: black;
}

.authWrapper {
  display: flex;
  justify-content: center;
  font-family: cursive;
  text-transform: uppercase;
}

.authWrapper > a {
  color: black;
  font-weight: 700;
  font-size: 0.9em;
}

.hasUser {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profilePic {
  object-fit: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.logout {
  color: black;
  font-size: 0.9em;
  font-weight: 700;
}

.noProfilePic {
  background-color: gray;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}