:root {
  font-family: "Heebo", sans-serif, monospace;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}
.App {
  width: 100vw;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openingWrapper,
.healthWrapper,
.wealthWrapper,
.relationshipWrapper {
  caret-color: transparent;
  width: 250px;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  gap: 10px;
  padding: 20px 15px;
}

.openingWrapper {
  gap: 40px;
}

.modalHeading {
  text-align: center;
  font-size: 1.1em;
  font-family: cursive;
}

#canvas {
  position: absolute;
  top: 3.5em;
  display: block;
  width: 360px;
  height: 200px;
}
#openingCanvas {
  position: absolute;
  top: 3.5em;
  display: block;
  width: 360px;
  height: 400px;
}

.questionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.rangeInput {
  -webkit-appearance: none;
  width: 280px;
  height: 4px;
  border-radius: 5px;
  background: black;
  outline: none;
}
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a83348;
}

.range span {
  position: absolute;
  left: 50%;
  margin-top: 25px;
  transform: translate(-50%);
  width: 50px;
  height: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}

.healthQuestionsWrapper,
.wealthQuestionsWrapper,
.relationshipsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  gap: 20px;
  width: 100%;
  caret-color: transparent;
}

.emojis {
  position: absolute;
  display: inline-flex;
  font-size: 25px;
}

.emojis:nth-child(1) {
  position: absolute;
  margin-left: -1.4em;
}
.yesNo {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.yesNoBtn,
.btnTime {
  cursor: pointer;
  padding: 8px 18px;
  font-size: 1em;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: all ease 0.2s;
  border-radius: 5%;
  color: rgb(75, 123, 255);
  border: 2px solid rgb(75, 123, 255);
}

.isSelected {
  color: rgba(35, 255, 35, 0.826);
  border: 2px solid rgba(35, 255, 35, 0.83);
}

.btnTime {
  display: flex;
  align-items: center;
  padding: 4px 1px;
  justify-content: center;
  font-size: 0.7em;
  text-align: center;
  text-transform: lowercase;
}

.dedicationWrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 5em);
}

.guides {
  font-family: cursive;
  letter-spacing: 1.2px;
  text-align: center;
}

.welcomingPrompt {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.leftArrText {
  position: absolute;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.15em;
}

path {
  fill: transparent;
}

text {
  fill: black;
  font-family: cursive;
  font-size: 1.2em;
}

.rightArrText {
  position: absolute;
  right: 0;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.2em;
}
.otherWrapper {
  display: flex;
  gap: 30px;
  font-family: cursive;
}

.notCurrentMonth {
  color: rgb(191, 191, 191);
}

a {
  text-decoration: none;
  color: rgb(75, 123, 255);
}
.goBack {
  position: absolute;
  width: 30px;
  height: 30px;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  border: none;
  background-color: #a83348;
  left: 1em;
  margin-top: 1em;
}
/* .submitInfo {
  align-self: center;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: cursive;
  font-size: 1em;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.submitInfo:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.submitInfo:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
} */